/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
h3,h4,p{
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}   

#hamburger{
    display: none;
    
}
        
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#section2 {
    border-width: 50%;  
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.rupees{
    color: red;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li{
    float: right;
}

button {
    padding: 1em 5em;
    font-size: x-large;
    color: white;
    background-color: #f2849e;
    border: none;
    margin-bottom: 10px;
} 

button:hover{
    background-color:#ed4b74;
}

img{
       
    height: 376px;
    border: 10px solid grey;
    border-bottom: none;
    border-top: none;
}

#first-heading{
    border-bottom: 2px solid grey;   
}

#second-heading{
    border-bottom: 2px solid grey;
}

li a{
/*    display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */
  color: black;
  display: block;
  padding: 8px;
  background-color: white;
  margin-left: 10px;
  text-decoration: none;
  
}

i{
    margin-right: 10px;
}

#para1{
    margin-right: 56px;
    margin-left: 153px;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#para2{
    margin-right: 56px;
    margin-left: 153px;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#para3{
    margin-right: 56px;
    margin-left: 153px;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px){
    nav{
        display: none;
    
    }
    
    main{
        flex-direction: column;
    }
    
    #hamburger{
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: flex-end;
    }
    
    img{
        display: flex;
        flex-direction: center;
    }
}
  
