/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
h3,h4,p{
    font-family: 'Source Sans Pro', sans-serif;
}
#main{
    display: flex;
    flex-direction: row
}

#book-logo{
/*    margin-left: 150px; */
   width: 60%;
    display: flex;
    flex-direction: left;
}
#section2{
    float: right;
    border-width: 60%;    
/*     margin-top: -500px;
    margin-right: 500px; */
    display: flex;
}
.rupees{
    color: red;
}
ul{
    list-style: none;
}
.book-logo{
    margin-top:200px;
}
button{
    padding: 1em 5em;
    font-size: x-large;
    color: white;
    background-color: #f2849e;
    border: none;
    margin-bottom: 10px;
}
button:hover{
    background-color:#ed4b74;
}
img{
    border-width: 30px;
    padding-top: 30px;
}
#first-heading{
    border-bottom: 2px solid grey;   
}
#second-heading{
    border-bottom: 2px solid grey;
}
#nav li a{
    float: right;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-arround;
}
i{
    margin-right: 10px;
}
#para1{
    margin-right: 56px;
    margin-left: 153px;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
#para2{
    margin-right: 56px;
    margin-left: 153px;
    border: 2px solid grey;
    border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
#para3{
    margin-right: 56px;
    margin-left: 153px;
    border: 2px solid grey;
/*     border-left: none;
    border-right: none;
    padding-top: 20px;
    padding-bottom: 20px; */
    justify-content: center;
}
